body, bg-img{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
}
main{
    color: rgb(7, 124, 225);
    width: 1160px;
    margin: 20px auto;
    border: none;
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
    opacity: 0.8;
}